---
import Cart from '@/icons/Cart.astro';

const { isAdmin, user } = Astro.locals;
---

<header class="h-16 border-b bg-white flex items-center px-6">
  <div class="flex items-center justify-between w-full max-w-7xl mx-auto">
    <!-- Logo -->
    <a href="/" class="font-semibold text-lg">JB Store</a>

    <!-- Nav -->
    <nav class="flex items-center gap-6 text-sm">
      <a href="/products" class="hover:text-black">Productos</a>
      {
        isAdmin && (
          <a href="/admin" class="hover:text-black">
            Admin
          </a>
        )
      }

      {
        user ? (
          <button id="logout-btn"> Cerrar sessión </button>
        ) : (
          <a href="/login"> Iniciar sesión </a>
        )
      }

      <a href="/cart" class="hover:text-black">
        <Cart />
      </a>
    </nav>
  </div>
</header>

<script>
  import { actions } from 'astro:actions';

  const logoutBtn = document.getElementById('logout-btn');

  logoutBtn?.addEventListener('click', async () => {
    await actions.logoutAction({});
    window.location.href = '/';
  });
</script>
