---
import Cart from '@/icons/Cart.astro';

const { isAdmin } = Astro.locals;
---

<header class="h-16 border-b bg-white flex items-center px-6">
  <div class="flex items-center justify-between w-full max-w-7xl mx-auto">
    <!-- Logo -->
    <div class="font-semibold text-lg">JStore</div>

    <!-- Nav -->
    <nav class="flex items-center gap-6 text-sm">
      <a href="/" class="hover:text-black">Inicio</a>
      <a href="/products" class="hover:text-black">Productos</a>
      {
        isAdmin && (
          <a href="/admin" class="hover:text-black">
            Admin
          </a>
        )
      }

      <a href="/cart" class="hover:text-black">
        <Cart />
      </a>
    </nav>
  </div>
</header>
