---
interface Column {
  title: string;
  dataIndex?: string;
  render?: (row: any) => any;
}

interface Props {
  dataSource?: any[];
  columns?: Column[];
}

const { dataSource = [], columns = [] } = Astro.props;
---

<div class="relative overflow-x-auto rounded-base border border-default shadow-xs">
  <table class="w-full text-sm text-left text-body">
    <!-- HEADER -->
    <thead class="text-sm bg-neutral-secondary-soft border-b border-default">
      <tr>
        {columns.map((col) => <th class="px-6 py-3 font-medium">{col.title}</th>)}
      </tr>
    </thead>

    <!-- BODY -->
    <tbody>
      {
        dataSource.length === 0 ? (
          <tr>
            <td class="px-6 py-6 text-center text-gray-400" colspan={columns.length}>
              No data
            </td>
          </tr>
        ) : (
          dataSource.map((row) => (
            <tr class="bg-neutral-primary border-b border-default hover:bg-neutral-secondary-soft transition">
              {columns.map((col) => (
                <td class="px-6 py-4">{col.render ? col.render(row) : row[col.dataIndex ?? '']}</td>
              ))}
            </tr>
          ))
        )
      }
    </tbody>
  </table>
</div>
