---
import Dashboard from '@/icons/Dashboard.astro';
import Navbar from './Navbar.astro';
import { cn } from '@/libs/utils';

const menuItems = [
  {
    key: 'dashboard',
    label: 'Dashboard',
    href: '/admin',
    icon: Dashboard,
  },
];
---

<Navbar />

<aside
  id="top-bar-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-100 sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
    <ul class="space-y-2">
      {
        menuItems.map((menu) => {
          const isActive = menu.href === Astro.url.pathname;

          return (
            <li>
              <a
                href={menu.href}
                class={cn(
                  'flex items-center p-2 hover:text-purple-600 rounded-lg hover:bg-purple-100 group',
                  {
                    'text-purple-600 bg-purple-100': isActive,
                  },
                )}
              >
                <menu.icon className="group-hover:text-purple-600" />
                <span class="ms-3">{menu.label}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</aside>
