---
import { actions } from 'astro:actions';

import FamilyForm from './_components/FamilyForm.astro';
import { t } from '@/i18n';
import AdminLayout from '@/layouts/AdminLayout.astro';

const id = Number(Astro.params.id);
const { data, error } = await Astro.callAction(actions.getFamily, { id });

const breadcrumbs = [
  { label: t('admin.dashboard'), href: '/admin' },
  { label: t('admin.families'), href: '/admin/families' },
  { label: data?.name ?? t('global.edit') },
];
---

<AdminLayout breadcrumbs={breadcrumbs}>
  {
    error || !data ? (
      <p class="bg-red-500 text-white py-2 px-4">{error?.message ?? 'No encontrado'}</p>
    ) : (
      <div class="card">
        <FamilyForm family={data} />
      </div>
    )
  }
</AdminLayout>
