---
import AdminLayout from '@/layouts/AdminLayout.astro';

import Input from '@/components/shared/Input.astro';
---

<AdminLayout>
  <div class="card">
    <form>
      <Input name="name" label="Nombre" required placeholder="Ingrrese el nombre de la familia" />
      <button class="btn btn-primary mt-4">Guardar</button>
    </form>
  </div>
</AdminLayout>

<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector('form');

  form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    try {
      await actions.createFamily(formData);
      //  form.reset();
      // window.location.href = '/admin/families';
    } catch (error) {
      alert(error);
      console.log(error);
    }
  });
</script>
