---
import { actions } from 'astro:actions';

import Input from '@/components/shared/Input.astro';
import { t } from '@/i18n';
import AdminLayout from '@/layouts/AdminLayout.astro';

const { data, error } = await Astro.callAction(actions.getFamily, {
  id: '1',
});

console.log({ data, error });

const breadcrumbs = [
  { label: t('admin.dashboard'), href: '/admin' },
  { label: t('admin.families'), href: '/admin/families' },
  { label: t('global.new') },
];
---

<AdminLayout breadcrumbs={breadcrumbs}>
  {
    error ? (
      <p class="bg-red-500 text-white py-2 px-4">{error.message}</p>
    ) : (
      <div class="card">
        <form>
          <Input
            name="name"
            label="Nombre"
            required
            placeholder="Ingrrese el nombre de la familia"
            value={data.name}
          />
          <button class="btn btn-primary mt-4">Guardar</button>
        </form>
      </div>
    )
  }
</AdminLayout>

<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector('form');

  form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    try {
      await actions.createFamily(formData);
      //  form.reset();
      // window.location.href = '/admin/families';
    } catch (error) {
      alert(error);
      console.log(error);
    }
  });
</script>
