---
// AdminLayout.astro
import '../styles/global.css';

import Breadcrumbs from '@/components/shared/Breadcrumbs.astro';
import Sidebar from '@/components/admin/Sidebar.astro';

interface Props {
  title?: string;
  breadcrumbs?: { label: string; href?: string }[];
}

const { title = 'Panel de Administración | JB Store', breadcrumbs = [] } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body>
    <Sidebar />

    <div class="p-4 sm:ml-64 min-h-screen pt-18">
      <Breadcrumbs breadcrumbs={breadcrumbs} />

      <main class="p-4 border border-gray-200 border-dashed rounded-lg">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    overflow-x: hidden;
  }
</style>
