---
import AdminLayout from '@/layouts/AdminLayout.astro';
import Table from '@/components/shared/Table.astro';
import { t } from '@/i18n';
import { actions } from 'astro:actions';

const breadcrumbs = [
  {
    label: t('admin.dashboard'),
    href: '/admin',
  },
  {
    label: t('admin.families'),
  },
];

const columns = [
  {
    title: 'ID',
    dataIndex: 'id',
  },
  {
    title: 'Name',
    dataIndex: 'name',
  },
];

const dataSource = [
  {
    id: 1,
    name: 'Electronics',
  },
  {
    id: 2,
    name: 'Clothing',
  },
  {
    id: 3,
    name: 'Home & Kitchen',
  },
  {
    id: 4,
    name: 'Sports',
  },
];

const { error, data: families } = await Astro.callAction(actions.getFamilies, {
  name: 'Example Family Name',
});
console.log('Families:', families);
console.log('Error:', error?.message);
---

<AdminLayout title="Dashboard" breadcrumbs={breadcrumbs}>
  {error && <p class="text-red-500">{error.message}</p>}
  <Table columns={columns} dataSource={dataSource} />
</AdminLayout>
