---
import { actions } from 'astro:actions';
import Table from '@/components/shared/Table.astro';
import { t } from '@/i18n';
import AdminLayout from '@/layouts/AdminLayout.astro';

const { error, data: families } = await Astro.callAction(actions.getFamilies, {
  name: 'Example Family Name',
});

const breadcrumbs = [
  {
    label: t('admin.dashboard'),
    href: '/admin',
  },
  {
    label: t('admin.families'),
  },
];

const columns = [
  {
    title: 'ID',
    dataIndex: 'id',
  },
  {
    title: 'Name',
    dataIndex: 'name',
  },
];

const dataSource = families?.data?.map((f) => ({ id: f.id, name: f.name }));
---

<AdminLayout title="Dashboard" breadcrumbs={breadcrumbs}>
  {error && <p class="text-red-500">{error.message}</p>}

  <Table columns={columns} dataSource={dataSource} />
</AdminLayout>
